
@model ClassLibrary.Models.customer_master
@{
    ViewBag.Title = "PasswordReset";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XPay Life Bank Password Reset Form</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        h1, h2 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }

            button:hover {
                background-color: #45a049;
            }

        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    </style>
</head>
<body>



    @using (Html.BeginForm("PasswordReset", "Backend", FormMethod.Post, new { id = "form1" }))
    {
        <div>

            @Html.LabelFor(m => m.security_questions_Code, "Select Question")
            <div class="form-group">
                @Html.LabelFor(m => m.security_questions_Code, "Select Security Question:")
                @Html.DropDownListFor(m => m.security_questions_Code, Model.GetSecurityQuestions, new { @class = "form-control", required = "required" })
            </div>

            <b>
                @Html.LabelFor(m => m.security_answer_code, "Type the Answer")
                @Html.TextBoxFor(m => m.security_answer_code, new { required = "required" })
            </b>
            <br>
            <br>

            <b>
                @Html.LabelFor(m => m.customer_mobile, "Mobile Number")
                @Html.TextBoxFor(m => m.customer_mobile, new { required = "required" })
            </b>
            <br>
            <br>

            @Html.LabelFor(m => m.login_password, "Enter new Password")
            @Html.PasswordFor(m => m.login_password, new { required = "required" })
            @Html.ValidationMessageFor(m => m.login_password)

            <br>
            <br>

            <button type="submit">Submit</button>
            <br>
            <br>
        </div>
    }
</body>
</html>
